.section_gap {
	padding: 50px 0px !important;
}

.cat_product_area .latest_product_inner {
	padding-top: 0px !important;
	margin-bottom: -50px;
}

.product_image_area {
    padding-top: 50px !important;
    padding-bottom: 50px;
}